footer {
    background-color: #f8f9fa; /* Light gray background */
    color: #343a40; /* Dark gray text */
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    border-top: 1px solid #dee2e6; /* Subtle top border */
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: #596396;
}