@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}


h1, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.npw-header p {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  margin-top: 10px;
  color: #596396;
}

.npw-header h1 {
  font-family: 'Luckiest Guy', sans-serif; 
  font-size: 56px;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #596396;
}

.npw-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 10px; 
}

.npw-nav ul li {
  background-color: #596396;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.npw-nav ul li:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.npw-nav ul li a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  display: block;
  text-align: center;
}