ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; 
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-top: 4rem; 
}


.menu-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border: 1px solid rgba(89, 99, 150, 0.33);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.menu-box:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.menu-box img {
  max-width: 100%;
  max-height: 150px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.menu-box a {
  text-decoration: none;
  color: inherit; 
  font-weight: bold;
  font-size: 1.4rem;
  font-family: inherit;
  margin-top: auto;
  font-family: 'Courier New', Courier, monospace;
}